server
{
  listen ${NGINX_PORT};

  server_name assets.${NGINX_HOST};

  large_client_header_buffers 10 16k;

  location ~ /assets
  {
    root /usr/share/nginx/html/assets;
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

}
